<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Page not found</title>
</head>
<body>
    <div class="container mx-auto">
        <div class=" w-full flex flex-col justify-center items-center h-screen">
            <span>Pages not found</span>
            <a href="/" class="underline text-teal-500 hover:text-teal-600 mt-2">Kembali</a>
        </div>
     </div>
</body>
</html>