<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Page not found</title>
</head>
<body>
    <div class="container mx-auto">
        <div class=" w-full  flex flex-col justify-center items-center h-screen">
           <!-- Test css -->
            <div class="bg-gray-600 space-y-2  text-gray-50 max-w-lg w-full h-full p-2">
                <!-- <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate nobis nisi distinctio eum ex. Ducimus esse dolores accusamus ut beatae optio quo fugiat ab, eveniet perspiciatis animi facere magnam error.
                </p>
                <p class="flex flex-nowrap overflow-scroll h-32 w-full p-2 rounded bg-gray-800">

                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate nobis nisi distinctio eum ex. Ducimus esse dolores accusamus ut beatae optio quo fugiat ab, eveniet perspiciatis animi facere magnam error.
                        <br>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate nobis nisi distinctio eum ex. Ducimus esse dolores accusamus ut beatae optio quo fugiat ab, eveniet perspiciatis animi facere magnam error.
                     <br>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate nobis nisi distinctio eum ex. Ducimus esse dolores accusamus ut beatae optio quo fugiat ab, eveniet perspiciatis animi facere magnam error. 
                  
                </p>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate nobis nisi distinctio eum ex. Ducimus esse dolores accusamus ut beatae optio quo fugiat ab, eveniet perspiciatis animi facere magnam error.
                </p> -->
<div class="flex flex-col bg-gray-800 m-auto p-5">
          <div
            class="flex overflow-x-scroll pb-10 hide-scroll-bar w-full h-32">
            <div class="flex flex-nowrap lg:ml-40 md:ml-20 ml-10 ">
                <% for(var i=0;i <10;i++) {%>
                    <div class="inline-block px-3">
                        <p class="max-w-xs overflow-hidden rounded-lg shadow-md hover:shadow-xl transition-shadow duration-300 ease-in-out">
                            <div class="w-64 h-64 max-w-xs overflow-hidden">
                      
                        </p>
                      </div>
                    <% } %> 
            </div>
          </div>
    </div>
    <!-- <style>
    .hide-scroll-bar {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
    .hide-scroll-bar::-webkit-scrollbar {
      display: none;
    }
    </style> -->
            </div>

        </div>
     </div>
</body>
</html>